body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.navbar {
    background-color: rgb(255, 255, 255);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.anchor {
    margin-left: 50px;
}

.anchor a {
    display: inline-block;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    transition: background-color 0.3s, transform 0.3s, font-size 0.3s;
}

.anchor a:hover {
    background-color: #737373;
    transform: scale(1.1);
    font-size: 18px;
}

.anchor a:active {
    background-color: #444444;
}


.search-container {
    display: flex;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    padding: 3px;
    width: 250px;
    margin-left: 200px;
}

.search-input {
    background-color: white;
    border: none;
    outline: none;
    flex-grow: 1;
    padding: 5px;
    border-radius: 30px;
    font-size: 16px;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 5px;
}

.search-button img {
    width: 18px;
    height: 18px;
}

.search-input:focus {
    outline: none;
}

.login-link {
    text-decoration: none;
}

.login-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000; 
    padding: 5px 15px;
    border-radius: 50px; 
    color: white;
    font-weight: bold;
    width: 120px; 
    cursor: pointer;
    border: none;
    margin-right: 80px;
}

.login-button:hover{
    background-color: #6b6b6b;
}

.login-text {
    font-size: 16px;
    margin-right: 5px;
    text-decoration: none;
}

.icon-container {
    background-color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}

.icon-container img {
    width: 37px;
    height: 37px;
}

/* 
bagian contact */

.contact-left h1{
    font-size: 100px;
    color: #827F7F;
    margin-bottom: 110px;
    margin-top: -2px;
}


.send-link {
    text-decoration: none;
}

.send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #9F9E9F; 
    padding: 8px 18px;
    border-radius: 50px; 
    color: white;
    font-weight: bold;
    width: 120px; 
    cursor: pointer;
    border: none;
    margin-right: 80px;
}

.send-button:hover{
    background-color: #777777;
}

.send-text {
    font-size: 16px;
    margin-right: 5px;
    text-decoration: none;
}

.icon-containerr {
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
}

.icon-containerr img {
    width: 30px;
    height: 30px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #6b6b6b;
    border-radius: 15px;
    margin-inline-start: 50px;
    margin-inline-end: 50px;
    margin-top: 50px;
}

.contact-left {
    width: 35%;
    color: white;
}


.contact-left address {
    margin-top: 80px;
    font-style: normal;
}

.contact-right {
    width: 50%;
    margin-right: 40px;
}

.contact-right form {
    display: grid;
    gap: 20px;
}

.contact-right label {
    color: white;
}

.contact-right input, .contact-right textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.contact-right textarea {
    height: 100px;
    background-color: transparent;
}

.contact-right input {
    background-color: transparent;
    color: white;
    cursor: pointer;
}




/* footer */

footer {
    margin-top: 50px;
    background-color: #e0e0e0;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #333;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-left img {
    width: 100px;
}

.footer-left p {
    font-size: 18px;
    margin-top: 10px;
    font-weight: bold;
}

.footer-column h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-column ul {
    list-style: none;
    padding: 0;
}

.footer-column ul li {
    margin-bottom: 8px;
}

.footer-column ul li a {
    text-decoration: none;
    color: #333;
}

.footer-right h3 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.footer-right p {
    margin: 5px 0;
}

.social-icons a {
    display: inline-block;
    margin-right: 10px;
}

.social-icons img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid gray;
    margin-top: 20px;
}

.footer-bottom p {
    margin: 0;
    font-size: 14px;
    color: #666;
}
